.homepage {
  position: relative;
  min-width: 100vh;
  min-height: 100vh;
}

.homepage-input-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 50%;

  text-align: center;
}

.homepage-text {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
}

.homepage-input {
  width: 100%;
  padding: 30px 27px;
  border-radius: 50px;

  border: none;
  outline: none;
  font-size: 2.5rem;
  font-weight: 600;
  box-shadow: 0px 0px 10px white;

  color: white;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.homepage-input:focus {
  box-shadow: 0px 0px 25px white;
}

.homepage-icon-go-wrapper {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.homepage-icon-go {
  color: white;
  margin-top: 20px;
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  border: 1px solid;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;

  box-shadow: 1px 1px 20px white;

  animation: icon-shadow 0.8s ease infinite;
}

.homepage-icon-go:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

@keyframes icon-shadow {
  0% {
    box-shadow: 1px 1px 20px rgb(238, 4, 4);
  }
  20% {
    box-shadow: 1px 1px 30px rgb(234, 96, 10);
  }

  40% {
    box-shadow: 1px 1px 40px rgb(234, 223, 10);
  }

  60% {
    box-shadow: 1px 1px 10px rgb(10, 193, 22);
  }

  80% {
    box-shadow: 1px 1px 30px rgb(9, 214, 228);
  }

  100% {
    box-shadow: 1px 1px 40px rgb(5, 24, 229);
  }
}
